body {
    background: #ffffff;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0a2e8c
}

.profile-button {
    background: rgb(0, 17, 59);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0a2e8c
}

.profile-button:focus {
    background: #0a2e8c;
    box-shadow: none
}

.profile-button:active {
    background: #0a2e8c;
    box-shadow: none
}

.back:hover {
    color: #0a2e8c;
    cursor: pointer
}

.labels {
    font-size: 11px
}
<<<<<<< HEAD
.boton{ 
    padding: 10px;
}
=======
.boton{
    padding: 30px;
}
/* .btn{
    color: #0a2e8c;
    background: radial-gradient(circle, rgba(0, 17, 59, 0) 0.25em, transparent 0.25em) center/1em 1.2em;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 20px/50px;
    border: 2px solid #0a2e8c;
    transition: all 0.5s ease 0s;
    
}
.btn:hover,
.btn:focus{
    color: #ffffff;
    background: radial-gradient(circle, rgb(0, 17, 59) 0.25em, transparent 0.25em) center/0.1em 0.1em;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.2);
} */
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}
>>>>>>> 04e6d6cc11152b71f63521468054b6784962f4f1
